<!Doctype html>

<html>
    <title> Donation Form </title>
    <link rel="stylesheet" href="task_3_style.css">
<form>
    <center>

    </center>
    <body>
        <center>
            <h1 style ="color:blue;"> Donation Information  </h1>
            
</center>


<table>
    <tr>
        <td> Full Name: </td>
        <td><input type="text"> </td>
</tr>

 <tr>
        <td> Email:  </td>
        <td><input type="email;"> </td>
</tr>

<tr>
        <td> Phone:  </td>
        <td><input type="text;"> </td>
</tr>

<tr>
        <td> Donation Amount:   </td>
        <td><input type="text;"> </td>
</tr>

 <tr>
        <td> Payment Method:  </td>
        <td> <input type = "radio" name = "des">Cash On Delevery 
         <input type = "radio" name = "des">Online Banking </td>

</tr>

 <tr>
        <td> <input type = "checkbox">Terms and Condition</td>

</tr>


<tr>
    <td> </td>
    <td> <input type ="button" value = "Submit"></td>
</tr>


</body>
    </form>
    

    </html>